html {
    background-image: url(home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: auto;
    height: auto;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#title {
    clear: right;
    margin-top: -2.5%;
    margin-left: -0.4%;
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

img {
    height: 30%;
    width: 70%;
    border-radius: 0%;
    top: 5%;
}

#title h1 {
    font-size: 250%;
    color: lightgray;
}

#title h2 {
    font-size: 200%;
    color: gray;
}

.left {
    clear: left;
    float: left;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    font-family: Sans-serif;
    font-weight: bold;
    color: lightgray;
    text-align: left;
    text-shadow: 5px 2px 7px black;
    word-break: break-all;
    height: 99.7%;
    width: 1%;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-image: -webkit-radial-gradient(circle, #D6ADC2, #4C1A4C, #0A000A);
    background-image: -ms-radial-gradient(circle, #D6ADC2, #4C1A4C, #0A000A);
    background-image: -webkit-gradient(circle, #D6ADC2, #4C1A4C, #0A000A);
    background-image: -o-radial-gradient(#D6ADC2, #4C1A4C, #0A000A);
    background-image: -moz-radial-gradient(circle, #D6ADC2, #4C1A4C, #0A000A);
    background-image: radial-gradient(circle, #D6ADC2, #4C1A4C, #0A000A);
    z-index: 10;
    transition: 0.5s all;
}

.left:hover {
    border-right: white solid 2px;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    font-family: Sans-serif;
    font-weight: bold;
    font-size: medium;
    word-break: normal;
    color: lightgray;
    opacity: 1;
    width: 10%;
}

.left p {
    padding-left: 2.5%;
    padding-top: 2.5%;
    margin: auto;
}
.left a {
    border-color: white;
    border-style: solid;
    border-width: thin;
    border-left: none;
    border-right: none;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.left a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
a {
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

a:link {
    color: lightgray;
}

.right {
    clear: right;
    position: relative;
    float: left;
    color: white;
    width: auto;
    margin-left: 25%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 1%;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
    background-image: -ms-linear-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
    background-image: -o-linear-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
    background-image: -webkit-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
    background-image: -moz-linear-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
    background-image: linear-gradient(top left, black 0%, #4C1A4C 5%, #D6ADC2, #4C1A4C 95%, black 100%);
}

.right:hover {
    box-shadow: 7px 7px 7px -3px white;
}

h1 {
    color: darkgray;
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

h2 {
    color: gray;
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

footer {
    color: white;
    position: relative;
    height: auto;
    width: auto;
    clear: both;
    float: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}
